#panelLateralMenu {
    -fx-background-color:linear-gradient(to bottom, #734c0c, #FFA423);
}

#panelLateralMenu .button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-alignment: CENTER-LEFT;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

#panelLateralMenu .button:hover {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

#panelLateralMenu #btnLogout {
    -fx-font-size: 12px;
}

#barraSuperior {
    -fx-background-color:linear-gradient(to bottom, #734c0c, #FFA423);
}

#panelCuerpo, #panelCuerpo1 {
    -fx-background-color:linear-gradient(to bottom, #8a8a8a,#FFF);
}
#btnAnadirTarea, #btnEdicionTarea,#btnAnadirTarea1, #btnEdicionTarea1 {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-alignment: CENTER-LEFT;
    -fx-font-size: 16px;
    -fx-text-fill: black;
}
#btnAnadirTarea:hover, #btnEdicionTarea:hover,#btnAnadirTarea1:hover, #btnEdicionTarea1:hover {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}
#acAnadirTarea,#acEditarTarea
{
    -fx-background-color: #FFA423;
    -fx-text-fill: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
#acAnadirTarea:hover,#acEditarTarea:hover
{
    -fx-background-color: #ffffff;
    -fx-text-fill: #FFA423;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #FFA423;
    -fx-border-width: 1px;
}
#acAnadirTarea:pressed,#acEditarTarea:pressed
{
    -fx-background-color: #FFA423;
    -fx-text-fill: white;
}
#acBorrarTarea
{
    -fx-background-color: #ff0000;
    -fx-text-fill: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
#acBorrarTarea:hover
{
    -fx-background-color: #ffffff;
    -fx-text-fill: #ff0000;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #ff0000;
    -fx-border-width: 1px;
}
#acBorrarTarea:pressed
{
    -fx-background-color: #ff0000;
    -fx-text-fill: white;
}
#btnBuscar,#btnBuscar1
{
    -fx-cursor: hand;
}
#btnCerrarSesion
{
    -fx-cursor: hand;
}
/*
#btnAnadirEmpleado, #btnEdicionEmpleado {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-alignment: left;
}

#btnAnadirEmpleado:hover, #btnEdicionEmpleado:hover {
    -fx-text-fill: white;
}
*/