#panelLateralMenu {
    -fx-background-color:linear-gradient(to bottom, #734c0c, #FFA423);
}

#panelLateralMenu .button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-alignment: CENTER-LEFT;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

#panelLateralMenu .button:hover {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

#panelLateralMenu #btnLogout {
    -fx-font-size: 12px;
}

#barraSuperior {
    -fx-background-color:linear-gradient(to bottom, #734c0c, #FFA423);
}

#panelCuerpo, #panelCuerpo1,#panelCuerpo2,#panelCuerpo3 {
    -fx-background-color:linear-gradient(to bottom, #8a8a8a,#FFF);
}
#btnAnadir, #btnEdicion,#btnAnadir1, #btnEdicion1,#submenu .button,#submenu1 .button,#submenu2 .button,#submenu3 .button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-alignment: CENTER-LEFT;
    -fx-font-size: 14px;
    -fx-text-fill: black;
}
#btnAnadir:hover, #btnEdicion:hover,#btnAnadir1:hover, #btnEdicion1:hover,#submenu .button:hover,#submenu1 .button:hover,#submenu2 .button:hover,#submenu3 .button:hover {
    -fx-font-weight: bold;
}
#acAnadir,#acEditar,#acAnadir1,#acEditar1,#acAnadir2
{
    -fx-background-color: #FFA423;
    -fx-text-fill: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
#acAnadir:hover,#acEditar:hover,#acAnadir1:hover,#acEditar1:hover,#acAnadir2:hover
{
    -fx-background-color: #ffffff;
    -fx-text-fill: #FFA423;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #FFA423;
    -fx-border-width: 1px;
}
#acAnadir:pressed,#acEditar:pressed,#acAnadir1:pressed,#acEditar1:pressed,#acAnadir2:pressed
{
    -fx-background-color: #FFA423;
    -fx-text-fill: white;
}
#acBorrar,#acBorrar1
{
    -fx-background-color: #ff0000;
    -fx-text-fill: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
#acBorrar:hover,#acBorrar1:hover
{
    -fx-background-color: #ffffff;
    -fx-text-fill: #ff0000;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #ff0000;
    -fx-border-width: 1px;
}
#acBorrar:pressed,#acBorrar1:pressed
{
    -fx-background-color: #ff0000;
    -fx-text-fill: white;
}
#acFacturar
{
    -fx-background-color: #a3ff72;
    -fx-text-fill: #000000;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
#acFacturar:hover
{
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}
#acFacturar:pressed
{
    -fx-background-color: #000000;
    -fx-text-fill: white;
}
.button
{
    -fx-cursor: hand;
}
#btnCerrarSesion
{
    -fx-cursor: hand;
}
@font-face {
    font-family: 'MiFuente';
    src: url('fonts/Balance Groovy - Sans.ttf');
}
#dashboard .button{
    -fx-background-color:linear-gradient(to left top, #222222, #e49826);
    -fx-background-radius: 20px;
    -fx-text-fill: #ffffff; /* Color del texto */
    -fx-border-radius: 20px; /* Radio de esquina para bordes redondeados */
    -fx-pref-height: 250px;
    -fx-pref-width: 400px;
    -fx-border-width: 2px; /* Grosor del borde */
    -fx-cursor: hand; /* Cambia el cursor al pasar por encima */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,1,1), 0, 0, 5, 10); /* Sombra suave */

}

/* Estilo para los botones al pasar el ratón por encima */
#dashboard .button:hover {
    -fx-pref-height: 265px;
    -fx-pref-width: 415px;
    -fx-background-color:linear-gradient(to left top, #222222, #919191);
    -fx-text-fill: #e49826;
}
#dashboard .button:pressed
{
    -fx-background-color:linear-gradient(to right bottom, #222222, #e49826);
    -fx-text-fill: white;
}
/*
#btnAnadirEmpleado, #btnEdicionEmpleado {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-alignment: left;
}

#btnAnadirEmpleado:hover, #btnEdicionEmpleado:hover {
    -fx-text-fill: white;
}
*/