#panelLateralMenu {
    -fx-background-color:linear-gradient(to bottom, #734c0c, #FFA423);
}

#panelLateralMenu .button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-alignment: CENTER-LEFT;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

#panelLateralMenu .button:hover {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

#panelLateralMenu #btnLogout {
    -fx-font-size: 12px;
}

#barraSuperior {
    -fx-background-color:linear-gradient(to bottom, #734c0c, #FFA423);
}

#panelCuerpo {
    -fx-background-color:linear-gradient(to bottom, #8a8a8a,#FFF);
}

#btnAnadirEmpleado, #btnEdicionEmpleado {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-alignment: left;
}

#btnAnadirEmpleado:hover, #btnEdicionEmpleado:hover {
    -fx-text-fill: white;
}
